<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>
<h1><a href="/users/<%= @tweet.user.id %>">$<%= @tweet.user.handle %></a>
    <small><%= @tweet.updated_at.strftime('%x') %> at <%= @tweet.updated_at.strftime('%r') %>
    </small></h1>
<h3> Tweet </h3>
<p><a href="/tweets/<%= @tweet.id %>/edit"> Edit </a></p>
<p><%= @tweet.body %></p>
