<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1><a href="/users/<%= @user.id %>">$<%= @user.handle %></a></h1>
<h3>Name: <%= @user.first_name %> <%= @user.last_name %></h3>
<h3> Tweets </h3>
<% @user.tweets.each do |tweet| %>
<p> <a href="/tweets/<%= tweet.id %>" style="text-decoration:none;color:black;">
  <%= tweet.body %></a> </p>
<% end %>
