<!DOCTYPE html>
<html>
<head>
  <title>Twitterapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav">
    <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "New Tweet", tweets_new_path %></li>
    </ul>
  </nav>
<form method='get'>
<label for='search'>Search:</label>
        <input name='search' type='search'/>
        <input type='submit'/>
</form>
<%= yield %>

</body>
</html>
